@model IEnumerable<FinalProject.Data.EF.TSTEmployee>

@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center;">Employees</h2>
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create",null, new { @class = "btn btn-danger" })
    </p>
}
<p >@Html.ActionLink("Show Inactive Employees","InactiveEmployees", "TSTEmployees", new { @class = "btn btn-primary" } )</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
    </tr>

    @foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Image)*@
                <img src="~/Images/EmployeeImages/@item.Image" alt="" style="height:100px; width:100px;"/>
            </td>
            <td>
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {

                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary" })
                }
                <br />
                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-success" })
                <br />
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
                }
            </td>
        </tr>
    }

</table>
