@model IEnumerable<FinalProject.Data.EF.TSTTicket>

@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center;">Tickets</h2>
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-danger" })
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResolutionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            Submited By
        </th>
        <th>
            Tech
        </th>
        <th>
            Priority
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResolutionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TSTEmployee.Fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TSTEmployee1.Fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TSTTicketPriority.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TSTTicketStatus.Name)
        </td>
        <td>
            @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Tech"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary" })

            }
            <br />
            @Html.ActionLink("Details", "Details", new { id=item.ID }, new { @class = "btn btn-success" }) 
            <br/>
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
            }
        </td>
    </tr>
}

</table>
