@model FinalProject.Data.EF.TSTDepartment

@{
    ViewBag.Title = "Details";
}

<h2 style="text-align:center;">Details</h2>

<div>
    <h4 style="text-align:center;">@Html.DisplayNameFor(model => model.Name)</h4>
    <hr />
    <dl class="col-md-12" style="text-align:center;">

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<p style="text-align:center;">
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {    
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-danger" })
    } <br /><br />
    @Html.ActionLink("Back to List", "Index",null, new { @class = "btn btn-primary" })
</p>
